services:
  grabber:
    container_name: spotify_grabber
    build:
      context: ./grabber
      dockerfile: Dockerfile
    environment:
      - SP_CLIENT_ID=${SP_CLIENT_ID}
      - SP_CLIENT_SECRET=${SP_CLIENT_SECRET}
      - SP_PLAYLIST_ID=${SP_PLAYLIST_ID}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    working_dir: /app
    command: ["/bin/sh", "-c", "while true; do python grab.py; sleep 60; done"]
    depends_on:
      mysql:
        condition: service_healthy

  mysql:
      image: mysql:latest
      container_name: mysql_container
      restart: unless-stopped
      environment:
        - MYSQL_DATABASE=${MYSQL_DATABASE}
        - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
        - MYSQL_USER=${MYSQL_USER}
        - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      #ports:
      #  - "3306:3306"
      volumes:
        - ./mysql_data:/var/lib/mysql
      healthcheck:
        test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
        interval: 10s
        timeout: 5s
        retries: 5
        
  api:
    container_name: spotify_api
    build:
      context: ./api
      dockerfile: Dockerfile
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    working_dir: /app
    ports:
      - "5000:5000"
    command: ["python", "endpoint.py"]
    depends_on:
      mysql:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5000/tracks"] 
      interval: 10s
      timeout: 5s
      retries: 5

  frontend:
    container_name: spotify_frontend
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      api:
        condition: service_healthy
